


















@font-face {
    font-family: roboto; /* Имя шрифта */
    src: url(../style/fonts/Roboto-Regular.woff); /* Путь к файлу со шрифтом */
   }
:root {
    --text-color: #ebebeb;
    --border-color-heder: #838383;
    --color-heder:#6A6A6A;
    --body-color: #161616;
    /* --red: #460000; */
    --border:#D7D7D7;
    --fz-16:16px;
    --fz-15:15px;
    --fz-12:12px;
    --fz-20:20px;
    --fz-50:50px;
    --fz-18:18px;
    --fz-14:14px;
    --fz-32:32px;
} 
*:before,
*:after {
box-sizing: border-box;
}
* {
box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    position: relative;
    z-index: 1;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: #161616;
    

    min-height:100%; 

  

}
.img_main{
    width: 100%;

}

.class_body {
    position: relative;
    z-index: 1;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: #0b171d;

    min-height:100%; 

  

}
#canvas{
    position: absolute;
    z-index: 1000;
}
.container {
    max-width: 1140px;  
    margin: 0 auto;
    padding: 0 2px;  
}

* a {
    text-decoration: none;
    color: var(--text-color);
}
* h2{
    margin: 0;
}
* p {
    margin: 0;
}


/* ---------------------------------------burger */





.header.is-menu-open .header__menu{
display: grid;
justify-content: center;
text-align: center;
}


.header__menu {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    font-size: var(--fz-32);
    width: 100%;
    z-index: 1;
    
    background-color: #2c2a2ae3;
    /* height: 180px; */
    
    }
.header__menu li + li {
    width: 300px;
margin-left: 0;
padding-top: 20px;
}
.header__logo {
display: flex;
align-items: center;
}
.header__menu-toggle:focus {
outline: none;
}
.header__menu {
margin: 0;
padding: 20px;
list-style: none;
flex-grow: 1;
}
.header__menu a {
color: var(--text-color);
text-decoration: none;
}




/* ----------------------------------end-----------------burger */



/* heder */
.logo-width{
    width: 167px;
    height: 40px;
    
}
.background-body{
    position: absolute;
    width: 100%;
    z-index: 1000;
    
    /* background-color: rgba(29, 81, 141, 0.652); */
    background-color: rgba(10, 31, 56, 0.407);
    /* border: solid 1px var(--border-color-heder); */

}
.background-body-2{
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: rgb(122, 121, 121);
    /* background-color: rgba(29, 81, 141, 0.652); */
    /* border: solid 1px var(--border-color-heder); */

}


.flex-logo{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heder-grid-nav{
    display: none;
}


/* slide-------------- */

.slider{
    
    width: 100%;
    height: 280px;
}
.slide .slick-arrow{
    
    position: absolute;
    
    top: 85%;
    left: 40px;
    z-index: 10;
    font-size: 0;
    width: 28px;
    height: 30px;
    border: none;
    
}
.slide .slick-arrow:focus{
    
    outline: 0;
    outline-offset: 0;
    
}
.slide .slick-arrow.slick-prev{
    
    left:0;
    background: url(../../images/arrow-banner/Arrow\ 10.svg);
}
.slide .slick-arrow.slick-next{
    right:0;
    background: url(../../images/arrow-banner/Arrow\ 9.svg);
}

.text-slide1{
    position: absolute;
    top: 0%;
    width: 300px;
    color: #fff;
    font-size: 30px ;
    
    
}


/* end--------slide */



/* banneer */
.banner-rek{
    display: none;
}
/* ----------end banner */


 /* -----------top-------------------- */
.history-flex{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 35px;
    /* justify-content: center; */
}



 /* -----------top------read-------------- */

.top_read_text_head{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0px;
    background: #3d3d3d;
    width: 100%;
    margin-top: 40px;
}
.top_read_text{
    font-size: 18px;
    width: 100%;
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
    background: #3d3d3d;
    margin-bottom: 50px;
}























































.round {
    border-radius: 180px; /* Радиус скругления */
    width: 90px;
    height: 45px;
    
   }
.online_komment{
    position: absolute;
    width: 100px;
    
    
}

/* PATTERN */

.pattern {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pattern--hidden {
	visibility: hidden;
	opacity: 0;
}

.pattern--hidden .polygon {
	transition-duration: 0ms;
}

.pattern svg {
	width: 100%;
	height: 100%;
}

.polygon {
	transition: -webkit-transform 300ms ease-in-out, opacity 300ms ease-in-out;
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	fill: transparent;
}

.polygon--hidden {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
/* disable scale on firefox */

.ff .polygon {
	-webkit-transform: scale(1)!important;
	transform: scale(1)!important;
}
.color-link{
    color: rgb(235, 191, 191);
    font-weight: bold;
}








/* forum */
/* forum */
.container_1024px {
    max-width: 1024px;  
    margin: 0 auto;
    padding: 0 13px;  
}



/* registr */
.offlain{
    color: rgb(255, 91, 91);
    
}

.off{
    z-index: 1000;
    width: 13px;
    height: 13px;
    background: rgb(221, 162, 0);
    border-radius: 100px;
}


.input_width{
    width: 320px;
    height: 100px;

}


.padding_input_commit{
    padding-bottom: 50px;
}
/*  */



/* mail */
.heder_padding_2x{
    margin-top: 25px;
}
.mail_grid{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    padding-bottom: 30px;
    
}
.mail_grid_pismo{
    margin-top: 22px;
    display: grid;
    grid-template-columns: 0.02fr 0.07fr 0.19fr 1fr 0.14fr;
    border-bottom: solid 1px #fff;
    align-content: center;
    align-items: center;
    grid-gap: 10px;
}
.btn-2{
    background: none;
    border: none;
    color: #fff;
    padding: 5px;
}
.btn-2:hover{
    
    color: rgb(255, 196, 0);
    
}
.btn_mail_redac{
    display: flex;
   
}
.btn_flex_mail_redac{
    padding-left: 20px;
    display: flex;
    align-items: center;
    
}

.read_mail{
    display: grid;
    grid-template-columns: 0.06fr 1fr;
}
.flex_mail_raed{
    display: flex;
    color: #bbbbbba6;
}
.padding_mail_read{
    padding: 20px;
    background-color: #525252;
}


.flex_oblako{
    
    padding: 5px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    
}


/* oblako */
.oblako_text{
    word-wrap: break-word; 
    width: 120px;
    
    

}

.input_oblako{

    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
    color: #fff;
}
.oblako_grid{
    display: grid;
    grid-template-columns: 0.15fr 1fr 0.3fr ;
    align-items: center;

}
.flex_oblako_nazad{
    display: flex;
    align-items: center;
    padding: 2px;
}



.example-1 .form-group{padding:10px;margin:0}
.example-1 input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.example-1 .label{width:120px;border:2px dashed rgb(201, 201, 201);border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
.example-1 .label i{display:block;font-size:42px;padding-bottom:16px}
.example-1 .label i,.example-1 .label .title{color:rgb(189, 189, 189);transition:200ms color}
.example-1 .label:hover{border:2px solid #000}
.example-1 .label:hover i,.example-1 .label:hover .title{color:#000}